/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background-color: #522d770d;
    color: #333;
}

/* Main Container */
.main-container {
    width: 640px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 40px;

}

/* Header */
.head {
    text-align: center;
    margin-bottom: 20px;
}

.image {
    width: 108px;
    height: 63px;
    object-fit: cover;
    margin-right: 520px;
}

/* Main Image */
.image2 {
    width: 100%;
    max-width: 547px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

/* Headings */
.main-heading {
    text-align: center;
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.invitation-title {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Text Section */
.text-container {
    padding: 20px;
}

.text-container p {
    margin: 10px 0;
    line-height: 1.6;
}

.registration-link {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}

.registration-link:hover {
    text-decoration: underline;
}

/* Button */
.btn {
    display: inline-block;
    background-color: #4D4A72;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 170px;
    text-decoration: none;
    width: 220px;
    height: 48px;
}

.btn:hover {
    background-color: #5a54d1;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 0 0 8px 8px;
}

.footer-logo {
    width: 108px;
    height: 63px;
    margin-bottom: 10px;
}

.footer-text {
    color: #555;
    font-size: 14px;
}
